<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YelpCamp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet"  href="/stylesheet/main.css">
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Our_Camp_Ground</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
          <li class=" nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
        </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){  %>
            <li class=" nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
              <a class="nav-link " href="/login">Login</a>
            </li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>  
           <%  } else { %>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-user"></i> <%=currentUser.username %></a>
              </li> 
            <li class="nav-item">
                <a class="nav-link" href="/logout"> Logout</a>
              </li> 
           <%   } %>
            
          </ul>
         </div>
        </div>
      </nav>
   
      <div class="container mt-3">
       <% if(error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
       <% } %>

       <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert"><%= success %></div>
       <% } %>
      </div>
     
      <div class="container">
 