<%- include("../partials/header") %>


  <div class="row">
       <div class="col-md-12 text-center">
          <h2 class="my-4"> Edit Comments</h2>
          <div style="width: 30%;" class="m-auto">
              <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input class="form-control my-4" type="text" name = "comment[text]" value="<%= comment.text %>">
                 <button class="btn btn-primary mt-2 btn-block">Submit</button>
                </form>
                <p><a href="/campgrounds" class="btn btn-sm btn-warning">Go back</a></p>
           </div>
       </div>
  </div>





<%- include("../partials/footer") %>

