<%- include("../partials/header") %>


  <div class="row">
       <div class="col-md-12 text-center">
          <h1 class="my-4"> Edit <%= campground.name %></h1>
          <div style="width: 30%;" class="m-auto">
              <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <input class="form-control my-4" type="text" name = "campground[name]" 
                 value="<%= campground.name %>">
                <input class="form-control my-4" type="text" name="campground[image]" 
                 value="<%= campground.image %>">
                 <input class="form-control my-4" type="number" name="campground[price]" value="<%= campground.Price %>" min="0.01" step="0.01">
                <input class="form-control my-4" type="text" name="campground[description"   value="<%= campground.description %>">

                 <button class="btn btn-primary mt-2 btn-block">Submit</button>
                </form>
                <p><a href="/campgrounds" class="btn btn-sm btn-warning">Go back</a></p>
           </div>
       </div>
  </div>




<%- include("../partials/footer") %>