<%- include("../partials/header") %>
 
<% if(currentUser && currentUser.isAdmin) { %>
   <h3 class="ml-4">Welcome Shivu</h3>
 <% } %>
<div class="container">
  <header class="jumbotron my-3">
     <h1>Welcome To Our_Ground_Camp World</h1>
     <p>View All Campgrounds All Over The Countries</p>
     <p>
       <a href="/campgrounds/new" class="btn btn-info">Add New Campgrounds</a>
     </p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground search..." class="form-control mr-2">
          <span class="input-group-append">
            <button class="btn btn-outline-info" type="submit">
                <i class="fa fa-search py- px-2"></i>
            </button>
          </span>
          </div>  
      </form>
  </header>
  <div class="row my-4 text-center" style="display: flex; flex-wrap: wrap;">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-3 col-sm-6">
          <div class="card bg-light mb-4">
              <img class="img-fluid" src="<%= campground.image %> ">
              <h5 class="card-title mt-3"> <%= campground.name %> </h5>
              <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary mt-4">More Info</a></p>
          </div>
          
        </div>
     <% }); %>
  </div>
</div>


<%- include("../partials/footer") %>